html, body {
    height: 100%;
    margin: 0;
}

nav a{
    font-family: arial, sans-serif;
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
   
}

.nav-left {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    /* margin: 10px 10px 0 0; */
    padding-left: 15px;
}

.nav-left li {
    margin: 1em;
}

.nav-right {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.nav-right img {
    width: 1.2em;
}