html, body {
    height: 100%;
    margin: 0;
    font-family: arial, sans-serif;
   
}

nav {
    position: fixed;
    width: 100%;
    top: 0px;
}

.navbar a{
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    display: block;
}

.nav-item img {
    width: 20px;
}



.navbar ul {
    list-style: none;
    line-height: 30px;
    margin: 0px;
    padding: 20px 30px;
}


.nav-left {
    float: left;
}

.nav-left li {
    margin-right: 1.5em;
}

.nav-right{
    float: right;
}

.nav-right li {
    margin-left: 1.5em;
}

.nav-item {
    float: left
}

.nav-right .nav-item:nth-child(3) a{
    padding-top: 5px;
}

 .nav-right .nav-item:last-child a{
    background-color: #4285f4;
    color: #ffffff;
    padding: 0 1em;
}