html, body {
    
    margin: 0;
    font-family: arial, sans-serif;
   
}


/* top navigation bar done with basic layout tools */
.navbar {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    top: 0px;
}

.navbar a{
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    display: block;
}

.nav-item img {
    width: 20px;
}



.navbar ul {
    list-style: none;
    line-height: 30px;
    margin: 0px;
    padding: 20px 30px;
}


.nav-left {
    float: left;
}

.nav-left li {
    margin-right: 1.5em;
}

.nav-right{
    float: right;
}

.nav-right li {
    margin-left: 1.5em;
}

.nav-item {
    float: left
}

.nav-right .nav-item:nth-child(3) a{
    padding-top: 5px;
}

 .nav-right .nav-item:last-child a{
    background-color: #4285f4;
    color: #ffffff;
    padding: 0 1em;
}

/* Centering logo and search in center of screen */

.viewport {
    height: 100vh;

}

.viewport img{
    display: block;
    margin: auto;
    padding-top: 175px;
}

.input {
    position: absolute;
    margin: auto;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 50px;
    
  }


/* Imitation of .navbar */

footer {
    height: 2.5em;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

footer ul {
    list-style: none;
    line-height: 30px;
    margin: 0px;
    padding: 5px 30px 10px 30px;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: block;
}

footer .info-left {
    float: left;
}

footer .info-left li {
    margin-right: 1.5em;
}

footer .info-right{
    float: right;
}

footer .info-right li {
    margin-left: 1.5em;
}

footer .info-item {
    float: left
} 

